.gomage_aap_dialog{
	display:block;
	position:absolute;
  z-index:10000 !important;
}
.gomage_aap_dialog > a{
  outline:none;
}
.gomage_aap_dialog table.gomage_aap_table_window  { 
	border-collapse:collapse; 
	border-spacing:0; 
	width:100%;
	margin:0;
	padding:0;
}
.gomage_aap_dialog_not_center{
	position:fixed;
}
.gomage_aap_dialog .gomage_aap_table_window td , .gomage_aap_dialog .gomage_aap_table_window th { 
	padding:0; 
}
.gomage_aap_dialog .title_window {
	-moz-user-select:none;
}
.gomage-ads-image-container{
	z-index:80;
}
.overlay_gomage_aap{
	z-index:9999 !important;
}
/* Overlay */
.overlay_gomage_aap { background-color:#000; filter:alpha(opacity=60); -moz-opacity:.6; opacity:.6; -webkit-opacity:.6; }

.gomage_aap_dialog table.gomage_aap_top,
.gomage_aap_dialog table.gomage_aap_bot{
  display:none;
}

/* Promo wind TOP */
.gomage_aap_nw { width:8px; height:0; }
.gomage_aap_n { height:0; background:#fff;}
.gomage_aap_ne { width:14px; height:0; }

/* Promo wind CONTENT */
.gomage_aap_w { width:1px; height:11px; }
.gomage_aap_e { width:1px; height:11px; }
.gomage_aap_dialog td.gomage_aap_content{background:#fff;}
.gomage_aap_content p{margin:0; padding:0;}
.gomage_aap_content img,
.gomage_aap_content iframe{vertical-align:top;font-size:0; line-height:0;}
.gomage_aap_content .block{margin:0;}

/* Promo wind BOTTOM */
.gomage_aap_sw { width:12px; height:0; }
.gomage_aap_s { height:0; }
.gomage_aap_se,
.gomage_aap_sizer {  width:14px; height:0; cursor:se-resize;}

/* Promo wind Buttons */
.gomage_aap_close { width:28px; height:28px; background-image:url(../../images/gomage/adspromo/close.png); background-repeat:repeat; overflow:hidden; position:absolute; cursor:pointer; z-index:10000; }

.gomage_aap_close.aap-close-left-top{top:-14px;left:-13px;}
.gomage_aap_close.aap-close-left-bottom{bottom:-14px;left:-13px;}
.gomage_aap_close.aap-close-right-top{top:-14px;right:-13px;}
.gomage_aap_close.aap-close-right-bottom{bottom:-14px;right:-13px;}

.gomage_aap_close_black{background-position:0 0;}
.gomage_aap_close_blue{background-position:-140px 0;}
.gomage_aap_close_brown{background-position:-175px 0;}
.gomage_aap_close_gray{background-position:0 -35px;}
.gomage_aap_close_green{background-position:-35px -35px;}
.gomage_aap_close_light_blue{background-position:-70px 0;}
.gomage_aap_close_light_green{background-position:-70px -35px;}
.gomage_aap_close_orange{background-position:-105px -35px;}
.gomage_aap_close_red{background-position:-140px -35px;}
.gomage_aap_close_pink{background-position:-175px -35px;}
.gomage_aap_close_violet{background-position:-35px 0;}
.gomage_aap_close_yellow{background-position:-105px 0;}

.gomage_aap_minimize, .gomage_aap_maximize { display:none !important;}

.gomage_aap_title { height:8px; text-align:left; color:#fff; background:#fff; font-size:0px;}

.gomage_aap_content { overflow:auto; font-size:12px; }
.gomage_aap_content,
.gomage_aap_content label { color:#333; font-family:Arial, sans-serif; }

.gomage_aap_buttons { padding:10px; text-align:right; }
.gomage_aap_buttons input.button { border-width:1px; border-style:solid; border-color:#ed6502 #a04300 #a04300 #ed6502;  background:#ffac47 url(gomage_aap/btn_bg.gif) 0 100% repeat-x; padding:0 7px 1px 7px; font:bold 12px/18px Arial, Helvetica, sans-serif; color:#fff; cursor:pointer; text-align:center; white-space:nowrap; }
